#nav-bar {
  background-color: #00a087;
  height: 80px;
  padding: 0 2em 0 2em;
  width: 100%;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  <img src="/images/bird.png">
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  font-style: color #e8fdff;
  justify-content: center;
  line-height: 175%;
  padding: 10px;
}

#nav-bar button {
  background-color: #caf3e5;
  border: solid black 1.7px;
  border-radius: 4px;
  color: #00a087;
  float: right;
  font-size: 1.5em;
  height: 60px;
  margin-top: 10px;
  width: 140px;
}

#nav-bar button:hover {
  color: black;
  cursor: pointer;
  background-color: white;
}